<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>"><strong class="school-logo">UNLV</strong></a>
      <div class="navbar-text">
        <strong class="">Howard R. Hughes College of Engineering Forms</strong>
      </div>
    </div>
  </div>
</nav>